<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Property</title>
    <link rel="stylesheet" href="/css/management.css">
    <style>
        .input-group {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
</head>

<body>
    <div class="form">
        <h1>Edit Property</h1>
        <form class="edit add" action="/admin/properties/edit/<%= property._id %>" method="POST"
            enctype="multipart/form-data">
            <label for="ownerName">Owner Name:</label><br>
            <input class="input" type="text" id="ownerName" name="ownerName" value="<%= property.ownerName %>"
                required><br><br>

            <label for="contactNumber">Contact Number:</label><br>
            <input class="input" type="tel" id="contactNumber" name="contactNumber"
                value="<%= property.contactNumber %>" required><br><br>

            <label for="email">Email:</label><br>
            <input class="input" type="email" id="email" name="email" value="<%= property.email %>" required><br><br>

            <label for="propertyName">Property Name:</label><br>
            <input class="input" type="text" id="propertyName" name="propertyName" value="<%= property.propertyName %>"
                required><br><br>

            <label for="type">Type:</label><br>
            <select class="select" id="type" name="type">
                <option value="PG" <%=property.type==='PG' ? 'selected' : '' %>>PG</option>
                <option value="Hostel" <%=property.type==='Hostel' ? 'selected' : '' %>>Hostel</option>
                <option value="PG with Mess" <%=property.type==='PG with Mess' ? 'selected' : '' %>>PG with Mess
                </option>
            </select><br><br>

            <label for="address">Address:</label><br>
            <input class="input" type="text" id="address" name="address" value="<%= property.address %>"
                required><br><br>

            <label for="map">Google Map link:</label><br>
            <input class="input" type="text" id="map" name="map" value="<%= property.map %>" required><br><br>

            <label for="locations">Locations:</label>
            <div id="location-container">
                <p>Eg:distance from nearest bus stand :- 1.3km</p>
                <% property.locations.forEach((location)=> { %>
                    <div class="input-group">
                        <input class="input" type="text" name="locations[]" value="<%= location %>"
                            placeholder="Eg:Delhi bus stand :- 15.6km" required>
                        <button type="button" onclick="removeField(this)">-</button>
                    </div>
                    <% }) %>
            </div>
            <button type="button" onclick="addLocationField()">+</button>
            <br><br>

            <label for="landmark">Landmark:</label><br>
            <input class="input" type="text" id="landmark" name="landmark" value="<%= property.landmark %>"
                required><br><br>

            <label for="image">Upload Images or PDFs:</label><br>
            <div id="image-container">
                <% property.images.forEach((image)=> { %>
                    <div class="input-group">
                        <span>
                            <%= image %>
                        </span>
                        <input type="file" class="input" name="images" accept=".jpg, .jpeg, .png, .pdf">
                        <button type="button" onclick="removeField(this)">-</button>
                    </div>
                    <% }) %>
            </div>
            <button type="button" onclick="addImageField()">+</button>
            <br><br>

            <label for="gender">Allowed Gender:</label><br>
            <select class="select" id="gender" name="gender">
                <option value="male" <%=property.gender==='male' ? 'selected' : '' %>>Male</option>
                <option value="female" <%=property.gender==='female' ? 'selected' : '' %>>Female</option>
                <option value="unisex" <%=property.gender==='unisex' ? 'selected' : '' %>>Unisex</option>
            </select><br><br>

            <label>Rooms:</label>
            <div id="room-container">
                <% property.rooms.forEach((room, index)=> { %>
                    <div class="input-group">
                        <input type="hidden" name="rooms[<%= index %>][id]" value="<%= room._id %>">
                        <!-- Hidden input to track room ID -->
                        <select name="rooms[<%= index %>][type]" required>
                            <option value="single" <%=room.type==='single' ? 'selected' : '' %>>Single</option>
                            <option value="double" <%=room.type==='double' ? 'selected' : '' %>>Double</option>
                            <option value="triple" <%=room.type==='triple' ? 'selected' : '' %>>Triple</option>
                            <option value="morethanthree" <%=room.type==='morethanthree' ? 'selected' : '' %>>More than
                                Three</option>
                        </select>
                        <input type="number" name="rooms[<%= index %>][price]" placeholder="Price"
                            value="<%= room.price %>" required>
                        <input type="number" name="rooms[<%= index %>][capacity]" placeholder="Total Rooms"
                            value="<%= room.capacity %>" required>
                        <input type="number" name="rooms[<%= index %>][availableRooms]" placeholder="Available Rooms"
                            value="<%= room.availableRooms %>" required>
                        <select name="rooms[<%= index %>][available]" required>
                            <option value="true" <%=room.available ? 'selected' : '' %>>Available</option>
                            <option value="false" <%=!room.available ? 'selected' : '' %>>Not Available</option>
                        </select>
                        <button type="button" onclick="removeField(this)">-</button>
                    </div>
                    <% }) %>
            </div>
            <button type="button" onclick="addRoomField()">+</button>
            <br>

            <label>Amenities:</label>
            <div id="amenity-container">
                <% property.amenities.forEach((amenity)=> { %>
                    <div class="input-group">
                        <input class="input" type="text" name="amenities[]" value="<%= amenity %>" required>
                        <button type="button" onclick="removeField(this)">-</button>
                    </div>
                    <% }) %>
            </div>
            <button type="button" onclick="addAmenityField()">+</button>
            <br>

            <label for="rules">House Rules:</label><br>
            <textarea class="input" id="rules" name="rules" ><%= property.rules %></textarea><br><br>

            <label for="securityDeposit">Security Deposit:</label><br>
            <input class="input" type="number" id="securityDeposit" name="securityDeposit"
                value="<%= property.securityDeposit %>" required><br><br>

            <label for="description">Description:</label><br>
            <textarea class="input" id="description" name="description"
                required><%= property.description %></textarea><br><br>

            <label for="additionalDetails">Additional Details:</label><br>
            <textarea class="input" id="additionalDetails" name="additionalDetails"
                ><%= property.additionalDetails %></textarea><br><br>

            <label for="tenantContract">Upload Tenant Contract:</label><br>
            <input type="file" id="tenantContract" name="tenantContract" accept=".jpg, .jpeg, .png, .pdf"><br><br>

            <input class="submit" type="submit" value="Update">
        </form>
    </div>

    <script>
        function addLocationField() {
            const container = document.getElementById('location-container');
            const newLocationInput = document.createElement('div');
            newLocationInput.className = 'input-group';
            newLocationInput.innerHTML = '<input type="text" class="input" name="locations[]" required><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newLocationInput);
        }

        function addImageField() {
            const container = document.getElementById('image-container');
            const newImageInput = document.createElement('div');
            newImageInput.className = 'input-group';
            newImageInput.innerHTML = '<input type="file" class="input" name="images" accept=".jpg, .jpeg, .png, .pdf"><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newImageInput);
        }

        function addRoomField() {
    const container = document.getElementById('room-container');
    const roomCount = container.children.length; // Count the current number of room entries to create unique indexes
    const newRoomInput = document.createElement('div');
    newRoomInput.className = 'input-group';
    
    // Dynamically create room inputs with the correct index in the 'name' attributes
    newRoomInput.innerHTML = `
        <select name="rooms[${roomCount}][type]" required>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="triple">Triple</option>
            <option value="morethanthree">More than Three</option>
        </select>
        <input type="number" name="rooms[${roomCount}][price]" placeholder="Price" required>
        <input type="number" name="rooms[${roomCount}][capacity]" placeholder="Total Rooms" required>
        <input type="number" name="rooms[${roomCount}][availableRooms]" placeholder="Available Rooms" required>
        <select name="rooms[${roomCount}][available]" required>
            <option value="true">Available</option>
            <option value="false">Not Available</option>
        </select>
        <button type="button" onclick="removeField(this)">-</button>
    `;
    
    container.appendChild(newRoomInput);
}


        function addAmenityField() {
            const container = document.getElementById('amenity-container');
            const newAmenityInput = document.createElement('div');
            newAmenityInput.className = 'input-group';
            newAmenityInput.innerHTML = '<input type="text" class="input" name="amenities[]" required><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newAmenityInput);
        }

        function removeField(button) {
            const field = button.parentElement;
            field.remove();
        }
    </script>
</body>

</html>